*{
    font-family: 'Rubik', sans-serif;
 }
/* body{
    background-color: rgb(104, 162, 250);
} */
.navbar{
    background-color: rgb(120, 157, 233);
}
.img1{
    width: 100px;
    height: 75px;
}
.img2{

    /* background-position:center;
    background-repeat: no-repeat;
    background-size:contain; */
    width: 100%;
     height: 1000px; 
    transform: translateY(-45%);
    position: relative;
    z-index: -4;
 }

 .text1{
    color: white;
    font-size: 4rem;
    text-align: center;
    position: absolute;
    top: 30%;
  
 }
 




 .div1{
    text-align: center;
    position: absolute;
    top: 60%;
    right: 35%;
    direction: ltr;
    
 
 }
 .btn2{
width: 12rem;
height: 4rem;
font-size: 1.25rem;
padding-top: 13px;
background-color: rgb(183, 183, 183);
margin: 0rem 1rem;
 }
 .btn3{
    width: 12rem;
    height: 4rem;
    font-size: 1.25rem;
    padding-top: 13px;    
    background-color: rgb(125, 125, 228);
    margin: 0rem 1rem;
 }



 
  .aside-text{

position: absolute;
top: 105%;
right: 37%;
text-align: center;
   
 }